body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 5px solid black;
}

[id^="row"] {
  display: flex;
  flex: 1;
  height: 20px;
  width: 320px;
}

.cell {
  width: 20px;
  height: 20px;
}

#button {
  padding-bottom: 20px;
}
